.btn {
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 0.875em;
  line-height: 1.5;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;

  &__type {
    &-warning {
      color: white;
      background: #ff8c00;
    }
  }

  &__align {
    &_center {
      margin: 0 auto;
      justify-content: center;
    }
    &_left {
      justify-content: flex-start;
    }
  }

  &:disabled {
    opacity: .5;
    &:hover {
      cursor: inherit;
    }
  }
}
