.profile {
  background: #67B26F;
  background: linear-gradient(to right, #4ca2cd, #67B26F);
  padding: 20px 0 40px;
  height: 100%;
  min-height: 100vh;
  @media (max-width: 1000px) {
    padding: 10px 0 20px;
  }

  &__title {
    color: #6256d3;
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    @media (max-width: 1000px) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-column-gap: 20px;
    align-items: start;

    &-item {
      padding: 15px 20px 30px;
    }

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }
}
.user {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1000px) {
    max-width: 500px;
    margin: 0 auto;
  }

  &__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid #E7EEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 22;

    img {
      width: 70px;
      height: 70px;
    }
  }

  &__name {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b4afaf;
  }

  &__list {
    width: 100%;
    text-align: left;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &-item {
      font-size: 16px;
      font-weight: bold;

      span {
        font-weight: normal;
      }
    }
  }
}

.general-information {
  &__title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .information-table {
    width: 100%;
    border: 1px solid black;

    &__item {
      display: grid;
      grid-template-columns: 200px 20px auto;

      @media (max-width: 600px) {
        grid-template-columns: 120px 20px auto;
      }

      &:not(:last-child) {
        border-bottom: 1px solid black;
      }

      p {
        font-size: 17px;
        padding: 10px 15px;
      }
      &_name {
        display: flex;
        align-items: center;
        font-weight: bold;
      }
      &_text {
        font-weight: normal;
      }

      span {
        border-left: 1px solid black;
        border-right: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
